@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary-yellow: #ffd700;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #9ca3af;
    opacity: 1;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.4);
    border-color: --color-primary-yellow;
}

.ease-springy {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.force-gpu {
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform, opacity;
}

::selection {
    background-color: #feea6e;
    color: #1f2937;
}

::-moz-selection {
    background-color: #feea6e;
    color: #1f2937;
}
